<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dad.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @dad.rating %>
</p>

<%= link_to 'Edit', edit_dad_path(@dad) %> |
<%= link_to 'Back', dads_path %>
