<main class="container home">
    <div class="justify-content-start row page-header">
        <div class=" page-header-inline">
            <h4>Projects</h4>
        </div>
        <div class="page-header-inline f-right">
            <div class="btn-group">
                <button class="btn btn-primary" id="new-project-button">New</button>
                <button class="btn btn-default">...</button>
            </div>

            <div id="new-project-dropdown" class="dropdown is-hidden">
                <%= render "dads/form.html"%>

            </div>
        </div>
        

        
    </div>

    <div id="projects-section" class="row">
        <% @dads.each do |p| %>
            <div class="col-md-4">
                <a href="#" class="project-card">
                    
                    <h2><%= p.name %></h2>
                    <p><%= p.rating %></p>
                    <%= link_to "Delete", dads_path(p), method: :delete, data: { confirm: "Are you sure?" }%>
                    <%= link_to 'Edit', edit_dad_path(p) %>
                </a>
            </div>
        <% end %>
    </div>


</main>